<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">
        <div class="modal-body text-center p-0">
            <img id="modalImage" src="" alt="Full View" class="img-fluid rounded">
        </div>
        </div>
    </div>
</div>