<!-- views/home.ejs -->
<h1 class="mb-4">All Recipes</h1>
<div class="list-group">
    <h2>HOME PAGE!!!</h2>
  <!-- <% recipes.forEach(recipe => { %>
    <a href="/recipe/<%= recipe.id %>" class="list-group-item list-group-item-action">
      <%= recipe.title %>
    </a>
  <% }) %> -->
</div>
<!-- <h1>Family Recipes</h1>
<ul>
    <h2>HOME PAGE!!!</h2>
  <% recipes.forEach(r => { %>
    <li><a href="/recipe/<%= r.id %>"><%= r.title %></a></li>
  <% }) %> 
</ul>-->
